modules/booking-soap-client/src/main/resources/wsdl/bookings.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://liferay.com/samples/fbo/bookings-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://liferay.com/samples/fbo/bookings-web-service" targetNamespace="http://liferay.com/samples/fbo/bookings-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://liferay.com/samples/fbo/bookings-web-service">

    <xs:element name="initBookingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookingInformation" type="tns:bookingInformation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initBookingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="booking" type="tns:booking"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listBookingsRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="startingItem" type="xs:integer"/>
	            <xs:element name="numberOfItems" type="xs:integer"/>
	        </xs:sequence>
	    </xs:complexType>    
    </xs:element>

    <xs:element name="listBookingsResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element maxOccurs="unbounded" minOccurs="0" name="bookingId" nillable="true" type="xs:string"/>
	        </xs:sequence>
	    </xs:complexType>    
    </xs:element>

    <xs:element name="checkBookingStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookingId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkBookingStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="booking" type="tns:booking"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBookingStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookingId" type="xs:string"/>
                <xs:element name="bookingStatus" type="tns:bookingStatusEnum"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBookingStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="booking" type="tns:booking"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bookingInformation">
        <xs:sequence>
            <xs:element name="arrivalDate" type="xs:date"/>
            <xs:element name="departureDate" type="xs:date"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="booking">
        <xs:sequence>
            <xs:element name="bookingInformation" type="tns:bookingInformation"/>
            <xs:element name="bookingId" type="xs:string"/>
            <xs:element name="bookingStatus" type="tns:bookingStatusEnum"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="bookingStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="VALIDATED"/>
            <xs:enumeration value="CANCELLED"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="initBookingRequest">
    <wsdl:part element="tns:initBookingRequest" name="initBookingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBookingStatusRequest">
    <wsdl:part element="tns:updateBookingStatusRequest" name="updateBookingStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBookingStatusResponse">
    <wsdl:part element="tns:updateBookingStatusResponse" name="updateBookingStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listBookingsRequest">
    <wsdl:part element="tns:listBookingsRequest" name="listBookingsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listBookingsResponse">
    <wsdl:part element="tns:listBookingsResponse" name="listBookingsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBookingStatusRequest">
    <wsdl:part element="tns:checkBookingStatusRequest" name="checkBookingStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initBookingResponse">
    <wsdl:part element="tns:initBookingResponse" name="initBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBookingStatusResponse">
    <wsdl:part element="tns:checkBookingStatusResponse" name="checkBookingStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookingsPort">
    <wsdl:operation name="initBooking">
      <wsdl:input message="tns:initBookingRequest" name="initBookingRequest">
    </wsdl:input>
      <wsdl:output message="tns:initBookingResponse" name="initBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBookingStatus">
      <wsdl:input message="tns:updateBookingStatusRequest" name="updateBookingStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateBookingStatusResponse" name="updateBookingStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listBookings">
      <wsdl:input message="tns:listBookingsRequest" name="listBookingsRequest">
    </wsdl:input>
      <wsdl:output message="tns:listBookingsResponse" name="listBookingsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBookingStatus">
      <wsdl:input message="tns:checkBookingStatusRequest" name="checkBookingStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:checkBookingStatusResponse" name="checkBookingStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingsPortSoap11" type="tns:BookingsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initBooking">
      <soap:operation soapAction=""/>
      <wsdl:input name="initBookingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBookingStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateBookingStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBookingStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listBookings">
      <soap:operation soapAction=""/>
      <wsdl:input name="listBookingsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listBookingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBookingStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="checkBookingStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkBookingStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingsPortService">
    <wsdl:port binding="tns:BookingsPortSoap11" name="BookingsPortSoap11">
      <soap:address location="http://localhost:8888/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>